{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.getnimbus.io"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/tokens/sui/price": {
      "get": {
        "summary": "Retrieve SUI Token Price",
        "description": "Fetches the price of one or more SUI tokens for specified addresses and an optional timestamp.",
        "tags": [
          "Token"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "addresses",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x0000000000000000000000000000000000000000000000000000000000000002::sui::SUI",
            "description": "Comma-separated list of SUI token addresses. Maximum 50 tokens."
          },
          {
            "in": "query",
            "name": "timestamp",
            "schema": {
              "type": "integer"
            },
            "description": "Optional timestamp to get the price at a specific time."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with SUI token price information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract_address": {
                            "type": "string",
                            "description": "The contract address of the SUI token."
                          },
                          "symbol": {
                            "type": "string",
                            "description": "The symbol of the SUI token."
                          },
                          "price": {
                            "type": "number",
                            "description": "The price of the SUI token."
                          },
                          "last24hPrice": {
                            "type": "number",
                            "description": "The price of the SUI token in the last 24 hours."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "The unix timestamp of price."
                          },
                          "decimals": {
                            "type": "integer",
                            "description": "The number of decimals for the SUI token."
                          },
                          "source": {
                            "type": "string",
                            "description": "The source of the price information."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing or invalid parameters."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      },
      "post": {
        "summary": "Retrieve SUI Token Price",
        "description": "Fetches the price of one or more SUI tokens for specified addresses and an optional timestamp.",
        "tags": [
          "Token"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "addresses": {
                    "type": "string",
                    "required": true,
                    "description": "Comma-separated list of SUI token addresses. Maximum 50 tokens.",
                    "example": "0x0000000000000000000000000000000000000000000000000000000000000002::sui::SUI"
                  },
                  "timestamp": {
                    "type": "integer",
                    "description": "Optional timestamp to get the price at a specific time."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response with SUI token price information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract_address": {
                            "type": "string",
                            "description": "The contract address of the SUI token."
                          },
                          "symbol": {
                            "type": "string",
                            "description": "The symbol of the SUI token."
                          },
                          "price": {
                            "type": "number",
                            "description": "The price of the SUI token."
                          },
                          "last24hPrice": {
                            "type": "number",
                            "description": "The price of the SUI token in the last 24 hours."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "The unix timestamp of price."
                          },
                          "decimals": {
                            "type": "integer",
                            "description": "The number of decimals for the SUI token."
                          },
                          "source": {
                            "type": "string",
                            "description": "The source of the price information."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing or invalid parameters."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    },
    "/plants": {
      "get": {
        "description": "Returns all plants from the system that the user has access to",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Plant response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plant"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Creates a new plant in the store",
        "requestBody": {
          "description": "Plant to add to the store",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NewPlant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "plant response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plant"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/plants/{id}": {
      "delete": {
        "description": "Deletes a single plant based on the ID supplied",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of plant to delete",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Plant deleted",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}