{
  "openapi": "3.0.0",
  "info": {
    "title": "Nimbus API",
    "version": "1.0.0",
    "description": "API for Nimbus\n\n## Rate Limiting\nThis API implements rate limiting to ensure fair usage and protect our services. The current rate limit is:\n\n- **500 requests per 10 minutes** per IP address\n\nIf you exceed this limit, you will receive a 429 (Too Many Requests) response. Please wait for the rate limit window to reset before making additional requests.\n\nIf you need more, please contact us at **thanhle@getnimbus.io** or TG **@thanhle27** to get premium API Key."
  },
  "servers": [
    {
      "url": "https://api.getnimbus.io",
      "description": "API server"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/tokens/sui/price": {
      "get": {
        "summary": "Retrieve SUI Token Price",
        "description": "Fetches the price of one or more SUI tokens for specified addresses and an optional timestamp.",
        "parameters": [
          {
            "in": "query",
            "name": "addresses",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "0x0000000000000000000000000000000000000000000000000000000000000002::sui::SUI",
            "description": "Comma-separated list of SUI token addresses. Maximum 50 tokens."
          },
          {
            "in": "query",
            "name": "timestamp",
            "schema": {
              "type": "integer"
            },
            "description": "Optional timestamp to get the price at a specific time."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with SUI token price information.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "contract_address": {
                            "type": "string",
                            "description": "The contract address of the SUI token."
                          },
                          "symbol": {
                            "type": "string",
                            "description": "The symbol of the SUI token."
                          },
                          "price": {
                            "type": "number",
                            "description": "The price of the SUI token."
                          },
                          "last24hPrice": {
                            "type": "number",
                            "description": "The price of the SUI token in the last 24 hours."
                          },
                          "timestamp": {
                            "type": "number",
                            "description": "The unix timestamp of price."
                          },
                          "decimals": {
                            "type": "integer",
                            "description": "The number of decimals for the SUI token."
                          },
                          "source": {
                            "type": "string",
                            "description": "The source of the price information."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request due to missing or invalid parameters."
          },
          "500": {
            "description": "Internal server error."
          }
        }
      }
    }
  }
}